* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #e8edf1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {

  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
 
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.box input[type="text"] {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  background-color: #f8f8f8;
}

.box input:focus {
  border-color: #007bff;
  outline: none;
}

.length {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
}

#length {
  flex: 1;
  margin: 0 10px;
}

#lengthValue {
  min-width: 30px;
  text-align: center;
  font-weight: bold;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.inner-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #343a40;
  position: relative;
  
}
#copyicon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
  &:hover{
    color: #004577;
  }


}